<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.com.dao.mybatis.BuyerMapper">

    <insert id="insertBuyer" parameterType="Buyer">
        INSERT INTO buyer (email, fName, lName, password)
        VALUES (#{email}, #{firstName}, #{lastName}, #{password});
    </insert>

    <update id="updateBuyer" parameterType="Buyer">
        UPDATE buyer SET email=#{email}, fName =#{firstName}, lName =#{lastName} , password=#{password} WHERE buyerId =
        #{buyerId};
    </update>


    <resultMap id="resultBuyer" type="Buyer" autoMapping="false">
        <result property="buyerId" column="buyerId"/>
        <result property="email" column="email"/>
        <result property="firstName" column="fName"/>
        <result property="lastName" column="lName"/>
        <result property="password" column="password"/>
    </resultMap>

    <select id="getAllFromBuyer" resultMap="resultBuyer">
        SELECT * FROM Buyer;
    </select>

    <select id="getByBuyerId" parameterType="int" resultMap="resultBuyer">
        SELECT * FROM Buyer WHERE ID = #{buyerId};
    </select>
</mapper>