<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.com.dao.mybatis.CartListMapper">

    <delete id="deleteByCartListId" parameterType="int">
        DELETE from CartList WHERE cartId = #{cartId};
    </delete>

    <resultMap id="resultCartList" type="CartList" autoMapping="false">
        <result property="cartId" column="cartId"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

    <select id="getAllFromCartList" resultMap="resultCartList">
        SELECT * FROM CartList;
    </select>


    <select id="getByCartListId" parameterType="int" resultMap="resultCartList">
        SELECT * FROM CartList WHERE cartId = #{cartId};
    </select>
</mapper>