<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.solvd.com.dao.mybatis.DiscountsMapper">

    <insert id="insertDiscounts" parameterType="Discounts">
        INSERT INTO discounts (discountName,description,discountPercent)
        VALUES (#{discountName}, #{description}, #{discountPercent});
    </insert>

    <update id="updateDiscounts" parameterType="Discounts">
        UPDATE discounts SET discountName = #{discountName}, description = #{description}, discountPercent=#{discountPercent} WHERE discountId = #{discountId};
    </update>

    <delete id="deleteByDiscountsId" parameterType="int">
        DELETE from Discounts WHERE discountId = #{discountId};
    </delete>

    <resultMap id="resultDiscounts" type="Discounts" autoMapping="false">
        <result property="discountId" column="discountId"/>
        <result property="discountName" column="discountName"/>
        <result property="description" column="description"/>
        <result property="discountPercent" column="discountPercent"/>
    </resultMap>

    <select id="getAllFromDiscounts" resultMap="resultDiscounts">
        SELECT * FROM Discounts;
    </select>

    <select id="getByDiscountsId" parameterType="int" resultMap="resultDiscounts">
        SELECT * FROM Discounts WHERE discountId = #{discountId};
    </select>
</mapper>